[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Code Coverage
coverage = "*"
# Sphinx Doc
sphinx = "*"
sphinx-autobuild = "*"
sphinxcontrib-programoutput = "*"
sphinxcontrib-spelling = "*" # https://sphinxcontrib-spelling.readthedocs.io/en/stable/install.html#installing-sphinxcontrib-spelling
sphinxcontrib-versioning = "*" # https://sphinxcontrib-versioning.readthedocs.io/en/latest/install.html#pip-install
# Linters & Static Analysis
pylint = "*"
pydocstyle = "*"
pycodestyle = "*"
restructuredtext-lint = "*"
doc8 = "*"
flake8 = "*"
bandit = "*"
# Typing
mypy = "*"
# Testing
pytest = "*"
tox = "*"
pytest-cov = "*"
# Extras
argcomplete = "*"
# Packaging
pyinstaller = {git = "https://github.com/pyinstaller/pyinstaller.git",ref = "develop"}
wheel = "*"
# PyInstaller platform-specific dependencies
pywin32-ctypes = ">=0.2.0"
pefile = ">=2017.8.1"
macholib = "*"
# asyncio
uvloop = "*"
documentation = {editable = true,git = "https://github.com/insurgency/docs.git"}

[packages]

[requires]
python_version = "3.8"
